@import url('https://fonts.googleapis.com/ css2?family=poppins:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #420e0e);
}


.calculator {
  width: 100%;
  max-width: 380px;   /* mobile size */
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 155, 119, 0.5);
}


#display {
  width: 100%;
  height: 70px;
  font-size: 2.2rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  background: transparent;
  color: white;
  border: none;
  outline: none;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}


button {
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  color: white;
  background: transparent;
  box-shadow: -5px -5px 12px rgba(255,255,255,0.1);
  cursor: pointer;
}


.operator {
  color: rgb(0, 174, 38);
}


.equal {
  background-color: orangered;
  color: white;
}

